@import url('https://fonts.googleapis.com/css?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p|News+Cycle&display=swap');
body {
    background-color: #222222;
    color: #FFFFFF;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 1.5em;
}

h1 {
    text-decoration: underline;
}

.link {
    color: #ffff00;
}

.link:hover {
    color: #45a0dd;
}

.quote {
    font-style: italic;
}

#box {
    margin-left: 5%;
}

img {
    width: 500px;
}

.incredible {
    animation: rainbow_text 3s infinite;
}

.invisible,
.ultra_invisible {
    /* animation: rainbow_text 6s infinite; */
    color: #222222;
}

.ultra_invisible {
    color: #222222;
}

.ultra_invisible::selection {
    color: #222222;
}

@keyframes rainbow_text {
    100%,
    0% {
        color: #ff15ff;
    }
    33.3% {
        color: #ffff15;
    }
    66.6% {
        color: #15ffff;
    }
}