@import url('https://fonts.googleapis.com/css?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p|News+Cycle&display=swap');

html {
    margin: 0;
    padding: 0;
    top: 0;
}

body {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

h1 {
    text-decoration: underline;
    font-size: 3em;
}

#home {
    height: 100vh;
    text-align: center;
    animation: rainbow 6s infinite;
}

#home-inside {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#passe_temps {
    text-align: center;
}

.link {
    color: #ffffff;
}

.link:hover {
    color: #45a0dd;
}

.quote {
    font-style: italic;
}

#box {
    background-color: #ff15ff;
    margin: 0;
    padding: 0;
}
img {
    width: 500px;
    /*animation: rotate .5s linear infinite;*/
}


@keyframes rainbow {
    100%, 0% {
        background-color: #ff15ff;
    }
    33.3% {
        background-color: #ffff15;
    }
    66.6% {
        background-color: #15ffff;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}