body {
    padding: 0;
    margin: 0;
    background-color: #669968;
    color: #ffffff;
    font-size: 30px;
}

#milieu {
    text-align: center;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
}

#milieu-inside {
    margin: 0 30%;
    padding: 30px;
    border-style: solid;
    border-width: 10px;
}

.full {
    font-size: 30px;
    margin: 5px;
    width: 90%;
    padding: 0;
}

.lang {
    text-align: left;
    margin: 0 0 0 30%;
}

textarea {
    resize: vertical;
}

p {
    margin: 5px 0;
}

h1 {
    text-decoration: underline;
}

a {
    text-decoration: none;
}

.link {
    color: #e0e0e0;
}

.spin {
    animation: spin 2s;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}